<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>Hi there! I am Umang Mehta.I wanted to try something different so I created this webpage as a part of my Biodata. You can <a href="#" target="_blank">download this biodata in pdf from here</a>. I currently reside in New England Area in United States in a beautiful city named Boston. About myself, I am a Software Engineer trying to put my hands into developing and finding new applications and software that can help to solve some of the complex problems in nature. I am an avid listener and am good in doing jugaad in day to day life.</p>
</div><!--//summary-->
</section><!--//section-->
