<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>Hi there! I am Umang Mehta.I wanted to try something different so I created this webpage as a part of my Biodata. You can <a href="{{site.baseurl}}/assets/images/Biodata.pdf" target="_blank">download </a> my biodata in pdf from here. I currently reside in New England at a beautiful city Boston, US. Something about me, I am a Senior Software Engineer trying to put my hands into developing and finding new applications and software that can help solve some of the complex problems in nature. I am an avid listener, a people person and like my name, I like to bring smiles and happiness.</p>
</div><!--//summary-->
</section><!--//section-->
