<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Affectiva Inc, Boston, MA</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer Co-op</h3>
                            <div class="time">Jan 2014 - Aug 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Basis Technology, Cambridge, MA</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer Intern</h3>
                            <div class="time">May 2014 - Aug 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Houghton Mifflin Harcourt, Boston, MA</div>
                    </div><!--//meta-->
                </div><!--//item-->

            </section><!--//section-->
