<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Affectiva Inc, Boston, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Working on the Software Development Toolkit team building state of art applications in the fiels of Emotional Atrificial Intelligence</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer Co-op</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Basis Technology, Cambridge, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Build applications as a part of tools teal and monitor inhouse customer shipment portal and perform some tasks related to DevOps</p>

                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
