<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-users"></i>Mosal Details</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Himatlal Keshavji Doshi</h3>
                            <div class="time">Nana</div>
                        </div><!--//upper-row-->
                        <div class="company">Rajula</div>
                    </div><!--//meta-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Bharat Himatlal Doshi</h3>
                            <div class="time">Mama</div>
                        </div><!--//upper-row-->
                        <div class="company">Andheri West, Mumbai</div>
                    </div><!--//meta-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mahesh Himatlal Doshi</h3>
                            <div class="time">Mama</div>
                        </div><!--//upper-row-->
                        <div class="company">Kandivali West, Mumbai</div>
                    </div><!--//meta-->
                </div>
            </section><!--//skills-section-->
