<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-info"></i>Personal Details</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">Date of Birth</a></span> - <span class="project-tagline">25th October 1991</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Gothram</a></span> -
                    <span class="project-tagline">Chandlas</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Caste</a></span> - <span class="project-tagline">Kapol Vaishnav</span>
                </div><!--//item-->
            </section><!--//section-->
