<!-- Use icons from fontawesome when you are adding new item in the contact list  -->


     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}Alan Doe{% endif %}</h1>
                <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Full Stack Developer{% endif %}</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">

                    <li class="address"><i class="fa fa-map-marker"></i><a href="https://goo.gl/RHfJHJ" target="_blank">B-16, Mangalam Apts, Mathuradas Road, Kandivali West, Mumbai 400067</a></li>

                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:umang.m.mehta@gmail.com">umang.m.mehta</a></li>

                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>

                    <li class="website"><i class="fa fa-globe"></i><a href="http://net4.ccs.neu.edu/home/umang12" target="_blank">my-website</a></li>

                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/umangmehtacomputerscience
                      {{site.linkedin}}" target="_blank">linkedin.com/in/umang</a></li>

                    <li class="facebook"><i class="fa fa-facebook-official"></i><a href="https://www.facebook.com/umangmehta12" target="_blank">umangmehta12</a></li>

                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.twitter}}</a></li>

                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include interests.html %}


        </div><!--//sidebar-wrapper-->
