<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-users"></i>Family Details</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mukesh Chimanlal Mehta</h3>
                            <div class="time">Father</div>
                        </div><!--//upper-row-->
                        <div class="company">Business : Refigeration spare parts dealer</div>
                    </div><!--//meta-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mrudula Mukesh Mehta</h3>
                            <div class="time">Mother</div>
                        </div><!--//upper-row-->
                        <div class="company">Housewife</div>
                    </div><!--//meta-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Devang Mukesh Mehta</h3>
                            <div class="time">Brother</div>
                        </div><!--//upper-row-->
                        <div class="company">B.Com, M.Com, CA Final candidate</div>
                    </div><!--//meta-->
                </div>
            </section><!--//skills-section-->
